<div class='container'>
<h2>Employee Forms</h2>
    <form #form="ngForm" novalidate>
        <div class='form-group'>
            <label>First Name</label>
            <input type="text" required class='form-control' placeholder="Name" name="firstName" [(ngModel)]='model.firstName'/>
        </div>
    
        <div class='form-group'>
                <label>Last Name</label>
                <input type="text" required class='form-control' placeholder="Name" name="lastName" [(ngModel)]=model.lastName/>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" name="is-full-time" [(ngModel)]='model.isFullTime'>Full Time Employee
            </label>
        </div>
        Model: {{ model | json}}
        <br>
        Angular: {{ form.value | json}}
        
        <label>Payment Type</label>
        <div class="radio">
            <label>
                <input type="radio" name="pay-type" value="w2"
                [(ngModel)]='model.paymentType'>W2
            </label>
        </div>

        <div class="radio">
            <label>
                <input type="radio" name="pay-type" value="1099"
                [(ngModel)]='model.paymentType'>1099
            </label>
        </div>

        <div class='form-group'>
            <label>Primary Language</label>
            <select class='form-control'
                    name='primaryLanguage'
                    [(ngModel)]='model.primaryLanguage'>
                <option *ngFor='let lang of languages'>
                    {{lang}}
                </option>
            </select>
        </div>

        <div class='form-group'>
            <label for="">Date Hired</label>
            <input type="date" class='form-control'>
        </div>

        <button class='btn btn-primary' type="submit">Ok</button>
    </form>
</div>

